.blue-nav{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255) !important;    color: aliceblue;
    padding: 21px 21px 140px;
}